<!doctype html>
<html>
<head>
    <title>CS Flash Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/highlightjs/styles/darkula.css') }}" />
    <script src="{{ url_for('static', filename='bower_components/highlightjs/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad(); </script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class='container-fluid'>
            <a class="navbar-brand" href="{{ url_for('index') }}">CS Flash Cards</a>
            <div class="navbar-header navbar-right">

                <ul class="nav navbar-nav">
                    {% if not session.logged_in %}
                        <li><a href="{{ url_for('login') }}"><span class='glyphicon glyphicon-user'> Login </span></a></li>
                    {% else %}
                        <li><a href="{{ url_for('cards') }}">Cards</a></li>
                        <li><a href="{{ url_for('general') }}">General</a></li>
                        <li><a href="{{ url_for('code') }}">Code</a></li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br/>
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js'
    ) }}"></script>
    <!-- <script src="https://use.fontawesome.com/8cea844162.js"></script> -->
    <script src="{{ url_for('static', filename='fastclick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='general.js') }}"></script>
</body>
</html>
